body {
	padding: 0%;
	margin: 0%;
    background-image: url('../resource/pagebackground.png');
	background-repeat: repeat;
}

.arrow-down {
	border: solid;
	border-color: white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform-origin: center;
	transform: translate(0px, -2px) rotate(45deg);
}

.page-footer {
	background-image: linear-gradient(#101010 60%, #181818);	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4%;
	color: white;
	text-align: center;
	outline: #242424 solid 1px;
	outline-style:ridge;
	overflow: hidden;
}

/*********************/
/* Main Content Area */
/*********************/
.page-main {
	padding: 8px;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 5%;
	margin-right: 5%;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
}

.page-main p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: whitesmoke;
	opacity: 100%;
	margin-top: 0;
	padding-top: 5px;
}

.page-main h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	color: whitesmoke;
	opacity: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.page-post {
	padding: 8px;
	background: rgba(80, 80, 80, 0.6);
	border-radius: 6px;
	outline: whitesmoke solid 1px;
	outline-style:ridge;
}

.page-heading {
	background: #000000;
}
.page-text {
	background: #101010;
}



/*********************/
/* Navigation Bar */
/*********************/
.nav-main {
	
	background-image: linear-gradient(#181818 60%, #101010);
	outline: #242424 solid 1px;
	outline-style:ridge;
	overflow: hidden;
}

.nav-right { 
	float: right;
}

.nav-pagetitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	color: whitesmoke;
	opacity: 100%;
}

/*********************/
/* Navigation Button */
/*********************/
.nav-button {
	background-image: linear-gradient(#181818 60%, #101010);
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	text-align: center;
	border: none;
	color: whitesmoke;
	float: left;
	padding: 5px 16px;
}

.nav-button:hover {
	background-image: linear-gradient(#080808 60%, #000000);
}


/***********************/
/* Navigation Dropdown */
/***********************/
.nav-dropdown {
	float: left;
	overflow: hidden;
}

.nav-dropdown-button {
	background-image: linear-gradient(#181818 60%, #101010);
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
	border: none;
	color: whitesmoke;
	padding: 4px 16px;
}

.nav-dropdown-button:hover {
	background-image: linear-gradient(#080808 60%, #000000);
}

.nav-dropdown:hover .nav-dropdown-button
{
	background-image: linear-gradient(#080808 60%, #000000);
}

.nav-dropdown-content {
	display: none;
	position: absolute;
	background-color: #181818;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-style: inset;
	border-width: 1px;
	border-color: #242424;
}

.nav-dropdown-content a {
	float: none;
	color: whitesmoke;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.nav-dropdown-content a:hover {
	background-color: #000000;
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}