<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<title>{{site.title}} - {{page.title}}</title>
		<meta charset="utf-8">
		<meta name="description" content="FSMC, a place for all things related to modifying FromSoftware games!">
		<link rel="icon" type="image/x-icon" href="/resource/favicon.png">
		
		<!-- Styles -->
		<link rel="stylesheet" href="/resource/main.css">
		
		<!-- Scripts -->
	</head>
  
	<body>
		<section id="navigation">
			<div id="nav-placeholder">
			
				<!-- Title, Home -->
				<div id="navigation-title">
					<a href="index.html">
					<button class="navigation-button">
						<img src="/resource/pageicon.png" style="width:100%;height:80%;">
					</button>
					</a>
				</div>

				<!-- About -->
				<div id="navigation-item"> 
					<a href="about.html">
					<button class="navigation-button">About</button>
					</a>
				</div>
				
				<!-- Projects -->
				<div id="navigation-item"> 
					<button class="navigation-button">Projects</button>
				</div>


				<!-- Compendiums Drop Down -->
				<div id="navigation-item"> 
					<button class="navigation-button">Compendiums</button>
				</div>

				<div id="navigtion-socialbar">
					<a href="https://discord.gg/C7xb9MhgYD">
					<button class="navigation-button" style="float:right;"><div class="discord-icon"></div></button>
					</a>
				</div>
			</div>		
		</section>	
		
		<section id="content">{{ content }}</section>
		<section id="footer"></section>
	</body>
</html>