<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<title>{{site.title}} - {{page.title}}</title>
		<meta charset="utf-8">
		<meta name="description" content="The place for all things related to modifying FromSoftware games!">
		<link rel="icon" type="image/x-icon" href="/resource/favicon.png">
		
		<!-- Styles -->
		<link rel="stylesheet" href="/resource/main.css">
		
		<!-- Scripts -->
	</head>

	<body>
		<section id="navigation">
			<div class="nav-main">
				<!-- Home Button -->
				<a href="/">
				<button class="nav-button" style="padding: 0%; align-items: center; margin: 0%;">
					<img src="/resource/pageicon.png" style="width: 50%; display:block;margin-left: auto;margin-right: auto;">
				</button>
				</a>

				<!-- <a href="/about"><button class="nav-button">About</button></a> -->
				
				<!-- Compendiums Dropdown -->
				<div class="nav-dropdown">
					<button class="nav-dropdown-button">Compendiums
						<div class="arrow-down"></div>
					</button>
					<div class="nav-dropdown-content">
						<a href="/resource/compendiumkf2.pdf">King's Field II</a>
					</div>
				</div>
				
				<!-- Social Dropdown -->
				<div class="nav-dropdown">
					<button class="nav-dropdown-button">Social
						<div class="arrow-down"></div>
					</button>
					<div class="nav-dropdown-content">
						<a href="https://discord.gg/QJpNn5Fgs8">Discord</a>
					</div>
				</div>

				<!-- <div class="nav-right"></div> -->
			</div>
		</section>	
		
		<section id="content">
			<div class="page-main">
				{{ content }}
			</div>		
		</section>

		<section id="footer">
			<div class="page-footer">
				<p>incredible footer goes here</p>
			</div>
		</section>
	</body>
</html>